<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Kenny</title>

    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <h1>The deaths of Kenny</h1>
    <img src="/public/images/kennydead.jpg" alt="oh-my-god-you-killed-kenny">
    <p>Kenny has died 126 times in the South Park franchise (98 in the series, 12 in the shorts, 14 in the video games, and twice in the movie). He also dies in the intro during season 7-11.</p>
  </body>
</html>